@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/gray-alpha.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/gray-dark-alpha.css";

@import "@radix-ui/colors/jade.css";
@import "@radix-ui/colors/jade-alpha.css";
@import "@radix-ui/colors/jade-dark.css";
@import "@radix-ui/colors/jade-dark-alpha.css";

@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-alpha.css";

@import "@/public/prism/one-dark.css";

@layer base {
  :root {
    --brand: #6166dc;
    --brandTinted: #6165dc1f;
    --bg: var(--gray-1);
    --boxBg: var(--gray-4);
  }

  .light .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-12);
    --tw-prose-bold: var(--gray-12);
    --tw-prose-links: var(--gray-12);
    --tw-prose-code: var(--gray-12);
    --tw-prose-quotes: var(--gray-12);
  }

  .dark .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-11);
    --tw-prose-bold: var(--gray-11);
    --tw-prose-links: var(--gray-11);
    --tw-prose-code: var(--gray-11);
    --tw-prose-quotes: var(--gray-11);
    --blue-10: var(--blue-8);
  }

  .terminal {
    /* using jade colors */
    --gray-a4: #00ffaa2d;
    --gray-1: #0d1512;
    --gray-2: #121c18;
    --gray-3: #0f2e22;
    --gray-4: #0b3b2c;
    --gray-5: #114837;
    --gray-6: #1b5745;
    --gray-7: #246854;
    --gray-8: #2a7e68;
    --gray-9: #29a383;
    --gray-10: #27b08b;
    --gray-11: #1fd8a4;
    --gray-12: #adf0d4;

    --gray-a1: #00de4505;
    --gray-a2: #27fba60c;
    --gray-a3: #02f99920;
    --gray-a4: #00ffaa2d;
    --gray-a5: #11ffb63b;
    --gray-a6: #34ffc24b;
    --gray-a7: #45fdc75e;
    --gray-a8: #48ffcf75;
    --gray-a9: #38feca9d;
    --gray-a10: #31fec7ab;
    --gray-a11: #21fec0d6;
    --gray-a12: #b8ffe1ef;

    --blue-10: #21fec0d6;
  }

  .terminal time {
    @apply font-mono tracking-tight;
  }

  .terminal .prose a {
    @apply font-mono tracking-tight;
  }

  .terminal .prose {
    --tw-prose-headings: var(--gray-12);
    --tw-prose-body: var(--gray-9);
    --tw-prose-bold: var(--gray-9);
    --tw-prose-links: var(--gray-9);
    --tw-prose-code: var(--gray-11);
    --tw-prose-quotes: var(--gray-11);
  }

  .main-header {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    overflow-x: hidden;
    background-color: var(--bg);
  }
}

.breakout {
  width: calc(100vw - 48px);
  margin-left: calc(50% - 50vw + 36px);
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

.brand-gradient {
  background: radial-gradient(
    100% 478.52% at 0% 15.62%,
    #6166dc 0%,
    #d2a8ff 100%
  );
}

.text-gradient {
  background: linear-gradient(140deg, #6166dc, #d2a8ff, #f778ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.like-button {
  background: radial-gradient(
    100% 478.52% at 0% 15.62%,
    #6166dc 0%,
    #d2a8ff 100%
  );
  animation: pulse 2.5s infinite ease-out;
}

.radial-fade {
  background: radial-gradient(
    100% 100% at 100% 100%,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

@keyframes pulse {
  0% {
    box-shadow:
      0px 0px 52px #6166dc,
      0px 0px 20px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
  70% {
    box-shadow:
      0px 0px 70px #6166dc,
      0px 0px 40px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
  100% {
    box-shadow:
      0px 0px 52px #6166dc,
      0px 0px 20px #d2a8ff,
      inset 0px 1px 3px rgba(255, 255, 255, 0.22);
  }
}

@media (hover: hover) {
  .animated-list:hover li {
    opacity: 0.5;
  }

  .animated-list:hover li:hover {
    opacity: 1;
  }
}

.animate-in {
  animation-delay: calc(var(--index) * 130ms);
}

.overflow-x-scroll.snap-x::-webkit-scrollbar {
  /* hide scrollbars with webkit scrollbar */
  display: none;
}

.prose hr {
  @apply border-primary;
}

.prose.project img {
  @apply max-w-none rounded-md border border-secondary bg-tertiary md:rounded-lg lg:-ml-16 lg:w-[calc(100%+128px)];
}

.prose blockquote {
  @apply border-l-2 border-primary font-serif text-lg font-light;
}

.prose figcaption {
  @apply mx-auto mb-8 mt-2 max-w-md text-center text-sm font-medium leading-tight text-tertiary;
}

.prose h2 {
  @apply mb-4 text-xl md:text-2xl;
}

.prose h3 {
  @apply mb-2 mt-[48px] text-lg;
}

.prose p code {
  @apply whitespace-pre-line rounded border border-primary bg-tertiary px-1 font-normal  text-primary dark:bg-secondaryA;
}

.prose
  p
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::before,
.prose
  p
  :where(code):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  )::after {
  content: "";
}

/* syntax highlighting */
pre[class*="language-"] {
  @apply rounded-md border border-secondary bg-primary text-[13px] text-xs text-primary dark:bg-neutral-900/50;
}

.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.code-line {
  display: block;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
  border-left: 4px solid rgba(0, 0, 0, 0); /* Set placeholder for highlight accent border color to transparent */
}

.code-line.inserted {
  background-color: rgba(16, 185, 129, 0.2); /* Set inserted line (+) color */
}

.code-line.deleted {
  background-color: rgba(239, 68, 68, 0.2); /* Set deleted line (-) color */
}

.highlight-line {
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 26px;
  background-color: var(--blue-a3); /* Set highlight bg color */
  border-left: 2px solid var(--blue-10); /* Set highlight accent border color */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 24px;
  margin-left: -8px;
  color: var(--gray-8); /* Line number color */
  content: attr(line);
}
